{%load static%}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
        <title>Small Basket</title>
        <link rel="stylesheet" href="{% static 'home/grid.css' %}">
        <link rel="stylesheet" href="{% static 'home/base.css' %}"> 
        <link rel="stylesheet" href="{% static 'home/normalize.css' %}">
        {%block css%}{%endblock%}
    </head>
    
    <body>
        <div class="topnav">
            <a id="topnav-left" href="{% url 'home:home' %}"><img src="{% static 'home/img/logo.png' %}"></a>
            {% block nav_menu %}
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <a class="topnav-bt" href="#">Hi, {{ user.username|safe }} </i></a>
                    <div class="dropdown-content">
                        <a href="#" onClick="document.getElementById('logoutform').submit()"> Logout </a>
                        <a href="#home">My Cart</a>
                        <form id = "logoutform" action="{% url 'accounts:logout' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    </div>
                </div>
                
            {% else %}
                <a class="topnav-bt" id="sign-in" href="/accounts/login">Sign In</a>
            {% endif %}
            {%endblock%}
        </div>
        {%block body%}{%endblock%}
    </body>
</html>