{%extends "home/base.html"%}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'home/cart.css' %}">
    <link rel="stylesheet" href="{% static 'home/products.css' %}">
{% endblock css %}
{%block body%}
<h1>My Cart</h1>
{% if products %}
{%for product in products%}
<div class="product row">
    <div class="col span_1_of_5 product-img">
        <img src={{product.image}}>
    </div>
    <div class="col span_3_of_5 product-info">
        <h1>{{product.p_name}}</h1>
            <p data-id="{{ item.product.p_id }}" class="availability">
                {% if item.product.stock > 0 %}
                <span class="available">In Stock</span>
                {% else %}
                <span class="not_available">Out Of Stock</span>
                {% endif %}
            </p>

            <div class="quantity">
                <span>Qty: </span>
                <div class="count">
                  {% if product.stock > 0 %}
                    <svg data-id="{{ product.p_id }}" class="up_btn" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path></svg>
                  {% else %}
                    <svg data-id="{{ product.p_id }}" class="disabled up_btn" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path></svg>
                  {% endif %}
                  
                  <div data-id="{{ product.p_id }}" class="number">{{ product.quantity }}</div>
                  
                  {% if product.quantity == 1 %}
                    <svg data-id="{{ product.p_id }}" class="disabled down_btn" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                  {% else %}
                    <svg data-id="{{ product.p_id }}" class="down_btn" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                  {% endif %}
                </div>
            </div>
            <span class="line">
              |
            </span>
            <div class="delete">
              <span data-id="{{ product.p_id }}" class="delete_btn">Delete</span>
            </div>
    </div>
    <div class="col span_1_of_5 add-to-cart">
        <h1>₹{{product.price}}</h1>
    </div>
</div>
{% endfor %}
<div class="sub_total">
    <span>Subtotal(<span class="item_total_count"></span>):</span> <strong class="total"></strong>
  </div>
  <div class="checkout_btn_div">
    <a href="{% url 'shop:checkout_page' %}" class="btn checkout_btn">Checkout</a>
  </div>
</div>
{% else %}
<img class="center" src="https://cdn-icons-png.flaticon.com/512/102/102661.png"></img>  
<br>
<p class="yeet">
    Your cart is empty! Click <a id="default" href="{% url  'home:home' %}"> here </a> to continue shopping. 
</p>
{% endif %}


{%endblock body%}

