{%extends "home/base.html"%}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'home/products.css' %}">
{% endblock css %}
{%block body%}
    
    <h1>{{selected_category}}</h1>
    {%for product in products%}
        {%if product.category.name == selected_category %} 
            <div class="product row">
                <div class="col span_1_of_5 product-img">
                    <img src={{product.image}}>
                </div>
                <div class="col span_3_of_5 product-info">
                    <h1>{{product.p_name}}</h1>
                    <br>
                    <button method="POST" onclick="showcart('{{ product.p_id }}')" data-id="{{ product.p_id }}" action="{% url 'cart:subscribe' %}" class="sub_btn" type="submit">
                        Subscribe
                    </button>
                    <br>
                    <br>
                        <label >Weekly Subscription- Save upto 10%</label><br>
                        <label>Pre-place an order for delivery for an entire week and get an immediate discount of upto 10%</label><br>

                </div>
                <div class="col span_1_of_5 add-to-cart">
                    <h1>₹{{product.price}}</h1>
                    
                    <div class="buttons">
                        <img src="{% static 'home/img/cart.png'%}">
                        {% if product.stock > 0 %}
                        <button method="POST" onclick="showcart('{{ product.p_id }}')" data-id="{{ product.p_id }}" action="{% url 'cart:add_to_cart' %}" class="add_to_cart_btn" type="submit">
                          Add to Cart
                        </button><br>
                        
                        {% else %}
                        <button disabled data-id="{{ product.p_id }}" class="add_to_cart_btn">
                          Add to Cart
                        </button>
                        
                        {% endif %}
                        <div class="inCart hidden" id="{{product.p_id}}">
                            {%for item in items%}
                                {% if item.product.p_id == product.p_id %}
                                    <br>
                                    <p >In Cart : {{ item.quantity}} </p>
                                {% endif %} 
                            {%endfor%}

                        </div>
                    </div>

                </div>
            </div>
        <!--<p>{{product.p_name}}</p>-->
        {%endif%} 
    {% endfor %}
    
{%endblock body%}