{%extends "home/homepage.html"%}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/signup.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock css %}

{%block nav_menu%}{%endblock%}
{%block body%}
    <div id="cover">
        <div class="overlay"></div>
        <div class="welcome">
            <h1>Sign up for Small Basket Account</h1>
            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    <label class="control-label col-md-4">{{field.label_tag}}</label>
                    <div class="col-md-8">
                    {{ field }}
                    </div>
                </div>
                {%endfor%}
                <div id="submitbtn" class="text-center">
                    <button class="btn btn-secondary mx-auto" type="submit">Sign up</button>
                </div>
            </form>
        </div>    
    </div>    
    
{%endblock body%}