body, html {
    height: 100%;
    margin: 0%;
    font-size:20px;
    font-family:  'Merriweather', serif;
    background-color: rgba(248, 231, 210, 0.993);
  }

.topnav {
    overflow: hidden;
    background-image: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7));
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 1;
    height: 7.5%;
<<<<<<< HEAD
    
=======
    color: white;
    font-size:20px;
    font-family:  'Merriweather', serif;
>>>>>>> refs/remotes/origin/master
  }
  
#topnav-left img{
    height: 90%;
    width: auto;
    float:left;
}


a.topnav-bt{
    display: block;
    float: right;
    color: #f2f2f2;
    text-align: center;
    width: 7.5%;
    height: 100%;
    padding: 1%;
    text-decoration: none;
    font-size: 85%;
  }


  
.topnav a:link,
  a:visited {
      background-color: inherit;
      transition: background-color 0.2s;
      
  }
  
.topnav a:hover{
    background-color: whitesmoke;
    color: black;
  }



.dropdown {
    display: block;
    float: right;
    margin-left: auto;
    margin-right: 0;
    color: white;
    position: relative; /* Set the navbar to fixed position */
    width: 7.5%;
    height: 42px;
}

.dropdown a{
  width: 100%;
  padding: 15%;
}
  
.dropdown-content {
    display: none;
    position: fixed;
    top:7.5%;
    background-color: #020202;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
  
.dropdown-content a, a:visited {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover{
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }